@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    font-family: Raleway;
    margin:0;padding:0; 
    box-sizing:border-box;
    outline:none;border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition:all .2s linear;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:6rem;
}
section{
    padding:2rem 9%;
}
header{
    position:fixed;
    top:0;left:0;right:0;
    z-index:1000;
    display:flex;
    background-color: black;
    display:flex;
    width: 1515px;
    height: 112px;
    justify-content: center;
    align-items: center;
    gap: 197px;
    flex-shrink: 0;
}
.navbar{
    justify-content: center;
    align-items: center;
}